name: Build & Publish

on:
  push:
    tags: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - name: Generate changelog
        id: changelog
        uses: metcalfc/changelog-generator@v4.6.2
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Check commit message
        id: commit_check
        run: |
          if git log -1 --pretty=%B | grep -q "\[skip-central\]"; then
            echo "skip_central=true" >> $GITHUB_OUTPUT
          else
            echo "skip_central=false" >> $GITHUB_OUTPUT
          fi

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Build with Maven (Deploy to Central)
        if: steps.commit_check.outputs.skip_central == 'false'
        run: mvn clean deploy -P central -Dgpg.signer=bc
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          MAVEN_GPG_KEY: ${{ secrets.GPG_SECRET_KEY }}

      - name: Build with Maven (Skip Central)
        if: steps.commit_check.outputs.skip_central == 'true'
        run: mvn clean package
        env:
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          MAVEN_GPG_KEY: ${{ secrets.GPG_SECRET_KEY }}

      - name: Generate Javadocs
        run: mvn javadoc:aggregate-no-fork
      - name: Deploy Javadocs
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/reports/apidocs
      - name: Release
        uses: HSGamer/action-mcreleaser@main
        with:
          files: |
            **/target/topper-spigot-plugin-*-shaded.jar
            **/target/topper-spigot-plugin-*-@(sources|javadoc).jar
        env:
          DESCRIPTION: ${{ steps.changelog.outputs.changelog }}
          GAME_VERSIONS: "1.8..latest"

          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
          MODRINTH_PROJECT: 6zYtBRSV
          MODRINTH_LOADERS: |
            bukkit
            spigot
            paper
            purpur
            folia

          POLYMART_KEY: ${{ secrets.POLYMART_KEY }}
          POLYMART_RESOURCE: 7111